<div>
  <h2 id="page-heading" data-cy="CompanyHeading">
    <span jhiTranslate="renepontCmaApp.company.home.title">Companies</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined"></fa-icon>
        <span jhiTranslate="renepontCmaApp.company.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-company"
        [routerLink]="['/company/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="renepontCmaApp.company.home.createLabel">Create a new Company</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error />

  <jhi-alert />

  @if (companies().length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="renepontCmaApp.company.home.notFound">No Companies found</span>
    </div>
  } @else {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(sortState)]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="name">
              <div class="d-flex">
                <span jhiTranslate="renepontCmaApp.company.name">Name</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="nif">
              <div class="d-flex">
                <span jhiTranslate="renepontCmaApp.company.nif">Nif</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="userProfile.id">
              <div class="d-flex">
                <span jhiTranslate="renepontCmaApp.company.userProfile">User Profile</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (company of companies(); track trackId(company)) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/company', company.id, 'view']">{{ company.id }}</a>
              </td>
              <td>{{ company.name }}</td>
              <td>{{ company.nif }}</td>
              <td>
                @for (userProfile of company.userProfiles; track $index; let last = $last) {
                  <span>
                    <a class="form-control-static" [routerLink]="['/user-profile', userProfile.id, 'view']">{{ userProfile.id }}</a
                    >{{ last ? '' : ', ' }}
                  </span>
                }
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/company', company.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                  </a>

                  <a [routerLink]="['/company', company.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                  </a>

                  <button type="submit" (click)="delete(company)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
</div>
